@import "@fremtind/jkl-core/variables/all";
@import "@fremtind/jkl-core/mixins/all";

.heading-nav {
    padding: $layout-spacing--medium;
    background-color: $hvit;
    display: flex;
    justify-content: space-between;

    &--varde {
        background-color: $varde;
    }

    .jkl-logo {
        height: rem(24px);
    }

    @include small-device {
        padding: $layout-spacing--medium $layout-spacing--xs;
        position: relative;
    }
}
