@import "@fremtind/jkl-core/variables/all";
@import "@fremtind/jkl-core/mixins/all";

.heading-nav {
    padding: $layout-spacing--medium;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $hvit;

    .jkl-logo {
        height: rem(24px);
    }

    @include small-device {
        padding: $layout-spacing--medium $layout-spacing--xs;
        position: relative;
    }
}
