@import "@fremtind/jkl-core/variables/_all.scss";
@import "@fremtind/jkl-core/mixins/screens";
@import "@fremtind/jkl-core/functions";

.countdown {
    max-width: 664px;
    margin-top: $layout-spacing--xxl;
    margin-left: auto;
    margin-right: auto;

    &__infoText {
        @include jkl-text-style("desktop/heading-small");
    }

    &__number {
        font-size: 268px;
    }
}
