@import "@fremtind/jkl-core/variables/all";
@import "@fremtind/jkl-core/mixins/all";

.thankyou-page {
    flex: 1;
    margin: $layout-spacing--medium;

    h1 {
        @include jkl-text-style("desktop/title-large");
        margin-bottom: $layout-spacing--large;
    }

    .thankyou {
        &__intro {
            p {
                @include jkl-text-style("desktop/lead");
                max-width: 35ch;
                margin-bottom: $layout-spacing--small;
            }

            & > *:not(h1) {
                margin-left: $layout-spacing--xl;
            }
        }
    }

    @include small-device {
        margin: $layout-spacing--xs;

        h1 {
            @include jkl-text-style("compact/title-large");
            margin-bottom: $layout-spacing--small;
        }

        .thankyou {
            &__intro {
                p {
                    @include jkl-text-style("compact/lead");
                    max-width: unset;
                }

                & > *:not(h1) {
                    margin-left: unset;
                }
            }
        }
    }
}
