@import "@fremtind/jkl-core/variables/all";
@import "@fremtind/jkl-core/mixins/all";

.thankyou-page {
    flex: 1;
    margin: $layout-spacing--medium;

    h1 {
        @include jkl-text-style("desktop/title-large");
        margin-bottom: $layout-spacing--large;
    }

    h2 {
        @include jkl-text-style("desktop/title-small");
        margin-top: $layout-spacing--large;
        margin-bottom: $layout-spacing--small;
    }

    .thankyou {
        &__intro,
        &__questionaire {
            & > *:not(h1) {
                margin-left: $layout-spacing--xl;
            }

            p {
                @include jkl-text-style("desktop/lead");
                max-width: 35ch;
            }
        }

        &__questionaire {
            form > * {
                margin-bottom: $layout-spacing--large;
            }

            form {
                max-width: 350px;

                .jkl-checkbox:not(:last-of-type) {
                    margin-bottom: 0;
                }
            }

            .jkl-text-input__input-wrapper {
                &:after {
                    content: "år";
                    @include jkl-text-style("desktop/heading-small");
                    margin-left: $layout-spacing--xs;
                }
            }
        }
    }

    @include small-device {
        margin: $layout-spacing--xs;

        h1 {
            @include jkl-text-style("compact/title-large");
            margin-bottom: $layout-spacing--small;
        }

        h2 {
            @include jkl-text-style("compact/title-small");
            margin-bottom: $layout-spacing--small;
        }

        .thankyou {
            &__intro,
            &__questionaire {
                p {
                    @include jkl-text-style("compact/lead");
                    max-width: unset;
                }

                & > *:not(h1) {
                    margin-left: unset;
                }
            }

            &__questionaire {
                footer {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}
