@import "@fremtind/jkl-core/variables/all";
@import "@fremtind/jkl-core/mixins/all";
@import "@fremtind/jkl-core/functions";

.welcome-page {
    & > * {
        margin-left: $layout-spacing--medium;
        margin-right: $layout-spacing--medium;
    }

    h1 {
        @include jkl-text-style("desktop/title-large");
        max-width: 1021px;
        margin-top: $layout-spacing--xl;
        margin-bottom: $layout-spacing--xl;
    }

    .welcome-hero {
        border-top: 1px solid $gra-10;
        margin-bottom: $layout-spacing--large;

        &:first-of-type {
            margin-bottom: $layout-spacing--xxl;
        }

        &--with-cells {
            display: flex;
        }

        &__inverted-wrapper {
            background-color: $gra-100;
            color: $gra-10;
            margin-left: 0;
            margin-right: 0;
            flex: 1;
            padding: $layout-spacing--medium $layout-spacing--medium;

            .welcome-hero {
                padding-top: $layout-spacing--large;

                &:first-of-type {
                    margin-top: $layout-spacing--xxl;
                }
            }
        }

        &__cell {
            flex: 1;
            position: relative;
            max-width: 50%;
        }

        &__img {
            width: 548px;
            max-width: 100%;

            &--vertical-push {
                position: absolute;
                top: $layout-spacing--medium;
                right: 0;
            }
        }

        p,
        button {
            margin-left: $layout-spacing--large;
        }

        p {
            @include jkl-text-style("desktop/body");

            margin-bottom: $layout-spacing--small;
            max-width: 51ch;

            &:last-of-type {
                margin-bottom: $layout-spacing--medium;
            }
        }

        h2 {
            @include jkl-text-style("desktop/title-small");
            margin-top: $layout-spacing--medium;
            margin-bottom: $layout-spacing--medium;
        }
    }
}
