@import "@fremtind/jkl-core/variables/all";

.exercise-page {
    flex: 1;
    padding-bottom: $layout-spacing--medium;

    article {
        max-width: 664px;
        margin-top: $layout-spacing--xxl;
        margin-left: auto;
        margin-right: auto;
        white-space: pre-line;
    }
}
