@import "@fremtind/jkl-core/variables/all";
@import "@fremtind/jkl-core/mixins/all";

.exercise-page {
    flex: 1;
    padding-bottom: $layout-spacing--medium;

    article {
        max-width: 664px;
        margin-top: calc(5rem + #{$layout-spacing--xxl});
        margin-left: auto;
        margin-right: auto;
        white-space: pre-line;
    }

    @include small-device {
        padding: $layout-spacing--xs;

        article {
            max-width: 664px;
            margin-top: calc(2.5rem + #{$layout-spacing--xl});
            margin-left: auto;
            margin-right: auto;
            white-space: pre-line;
        }
    }
}
