@use '~@fremtind/jkl-webfonts/webfonts.scss' with (
    $webfonts-dir: "./fonts"
);

@import "@fremtind/jkl-core/core.scss";
@import "@fremtind/jkl-icons/animated-icons.scss";
@import "@fremtind/jkl-button/button.scss";

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.jkl-button--primary:disabled {
    background-color: $gra-30;
    border: rem(1px) solid $gra-30;

    html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus,
    html:not([data-touchnavigation]) &:hover {
        transform: none;
    }

    &:hover,
    html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus,
    html[data-touchnavigation] &.jkl-button--pressed {
        background-color: $gra-30;
        border-color: $gra-30;
    }
}
