@import "@fremtind/jkl-core/variables/all";
@import "@fremtind/jkl-core/mixins/all";

.heading-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $layout-spacing--medium;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $hvit;

    &__brand {
        @include jkl-text-style("desktop/heading-small");
    }

    &__story {
        @include jkl-text-style("desktop/body");
    }
}
